@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-black: rgba(0 1 18);
  --color-very-dark-gray: rgba(32 33 44);
  --color-dark-gray: rgba(43 44 55);
  --color-dark-lines: rgba(62 63 78);
  --color-medium-gray: rgba(130 143 163);
  --color-light-lines: rgba(228 235 250);
  --color-light-gray: rgba(244 247 253);
  --color-main-purple: rgba(88 95 199);
  --color-main-purple-hover: rgba(168 164 255);
  --color-red: rgb(234 85 85);
  --color-red-hover: rgb(255 151 152);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}